@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 200 56% 94%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 201 65% 83%;
    --primary-foreground: 215 28% 17%;
    --secondary: 200 68% 83%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 45%;
    --accent: 106 53% 81%;
    --accent-foreground: 106 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 40% 85%;
    --input: 200 40% 88%;
    --ring: 201 65% 83%;
    --chart-1: 201 65% 83%;
    --chart-2: 106 53% 81%;
    --chart-3: 200 68% 83%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 201 65% 83%;
    --primary-foreground: 215 28% 17%;
    --secondary: 200 68% 83%;
    --secondary-foreground: 215 28% 17%;
    --muted: 217 33% 22%;
    --muted-foreground: 215 20% 65%;
    --accent: 106 53% 81%;
    --accent-foreground: 106 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 201 65% 83%;
    --chart-1: 201 65% 83%;
    --chart-2: 106 53% 81%;
    --chart-3: 200 68% 83%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
