@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 97%;
    --foreground: 224 18% 27%;
    --card: 220 25% 100%;
    --card-foreground: 224 18% 27%;
    --popover: 220 25% 100%;
    --popover-foreground: 224 18% 27%;
    --primary: 138 78% 78%;
    --primary-foreground: 138 28% 15%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 224 18% 27%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 10% 45%;
    --accent: 54 96% 83%;
    --accent-foreground: 54 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 88%;
    --input: 220 15% 92%;
    --ring: 138 78% 78%;
    --chart-1: 138 78% 78%;
    --chart-2: 54 96% 83%;
    --chart-3: 260 100% 90%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 18% 12%;
    --foreground: 220 20% 97%;
    --card: 224 18% 15%;
    --card-foreground: 220 20% 97%;
    --popover: 224 18% 15%;
    --popover-foreground: 220 20% 97%;
    --primary: 138 78% 78%;
    --primary-foreground: 138 28% 15%;
    --secondary: 220 15% 25%;
    --secondary-foreground: 220 20% 97%;
    --muted: 220 15% 25%;
    --muted-foreground: 220 10% 65%;
    --accent: 54 96% 83%;
    --accent-foreground: 54 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 28%;
    --input: 220 15% 32%;
    --ring: 138 78% 78%;
    --chart-1: 138 78% 78%;
    --chart-2: 54 96% 83%;
    --chart-3: 260 100% 90%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
